.header {
  height: 80px;
}

.cart {
  box-sizing: border-box;
  border-radius: 50%;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

.cart svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #c91a1a;
  border-radius: 50%;
}